{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Handy{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/2b62206012.js" crossorigin="anonymous"></script>

</head>

<body>
<nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light" style="background-color: #fff !important;">
    <a class="navbar-brand" style="
      font-size: 40px;
      margin-bottom: 5px;
      font-family: 'Roboto Slab';
      font-weight: 100;">Handy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link" href="{% url 'handy:services' %}" style="color: #C7B198">Active Listings</a>
        {% if user.is_authenticated %}
        <a href="{% url 'handy:logout' %}" style="
    margin-top: 7px;
    margin-left: 7px;
">Logout</a>
        {% if user.user_type == 1%}
        <a href="{% url 'handy:service' %}" style="color: #C7B198;">Create Listing</a>
        <a href="" style="
    margin-top: 7px;
    margin-left: 7px;
    color: #C7B198;
">View My Listings</a>
        <a href=""></a>
        {% else %}
        <a href="" style="
    margin-top: 7px;
    margin-left: 7px;
    color: #C7B198;
">View Active Listings</a>
        <a href="" style="
    margin-top: 7px;
    margin-left: 7px;
    color: #C7B198;
">Profile</a>
        <a href="" style="
    margin-top: 7px;
    margin-left: 7px;
    color: #C7B198;
">Accepted Listings</a>

        {% endif %}
        {% else %}
        <a href="{% url 'handy:login' %}" style="
    margin-top: 7px;
    margin-left: 15px;
    color: #C7B198;
">Login</a>
        <a href="{% url 'handy:register' %}" style="
    margin-top: 7px;
    margin-left: 20px;
    color: #C7B198;
">Sign Up</a>
        {% endif %}
      </div>
    </div>
    </div>
  </nav>
  {% block body %}
  {% endblock %}
</body>

</html>
