{% extends 'layout.html' %}
{% block title %}
    {{ service.title }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ service.title }}</h1>
            <p>{{ service.description }}</p>
            <p>{{ service.taken }}</p>
            {% if service.image %}
                <img src="{{ service.image.url }}" alt="{{ service.title }}"
                     class="img-responsive">
                {% else %}
                 <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freeiconspng.com%2Fimages%2Fno-image-icon&psig=AOvVaw3afv-KNasbcj1MW2Q04oGw&ust=1639700740979000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIjYv7OH5_QCFQAAAAAdAAAAABAD" alt="{{ service.title }}"
                     class="img-responsive">            {% endif %}
            {% for comment in comments %}
                <div class="media">
                    <div class="media-body">
                    <a href="{% url 'handy:provider-profile' comment.author.id %}">
                        <h4 class="media-heading">{{ comment.author.user.first_name }} {{ comment.author.user.last_name }}</h4>
                    </a>


                        <p>{{ comment.text }}</p>
                        {% if user == comment.author.user or user == service.author.user%}
                            <a href="{% url 'handy:comment-delete' comment.pk%}">
                                <input type = "submit" value="Delete" class="btn btn-danger">
                            </a>
                            {% if user == comment.author.user and comment.status == 'ACCEPTED' %}
                                <a href="{% url 'handy:complete' service.id comment.id%}">
                                    <input type = "submit" value="Complete" class="btn btn-danger">
                                </a>
                            {% endif %}
                        {% endif %}

                            {% if not service.taken and user == service.author.user%}
                                <a href="{% url 'handy:comment-accept' comment.pk%}">
                                    <input type = "submit" value="Accept" class="btn btn-danger">
                                </a>
                                <a href="{% url 'handy:comment-reject' comment.pk%}">
                                    <input type = "submit" value="Reject" class="btn btn-danger">
                                </a>
                            {% endif %}


                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    {% if user.is_authenticated and not service.taken %}
        {% if user.user_type == 2 %}
            <div>
                <form action="{% url 'handy:comment' service.id %}" method="POST" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Register" class="btn btn-block btn-primary">
                </form>
            </div>
        {% endif %}
    {% endif %}


{% endblock %}