{% extends 'layout.html' %}
{% block title %}{{ _('Services') }}{% endblock %}
{% block body %}
<div class="" style="margin-left: 350px; margin-top: 30px;">
  <h1 style="
    margin-left: 3px;
    color: #533535;
">What do you need help with ?</h1>
  <button type="button" class="btn btn-secondary" style="border-radius: 25px; margin-right: 20px;margin-top: 7px; background-color: #C7B198; color: #483434; border-color:#C7B198; font-weight: bold;">Plumbing</button>
  <button type="button" class="btn btn-secondary" style="border-radius: 25px; margin-right: 20px;margin-top: 7px; background-color: #C7B198; color: #483434; border-color:#C7B198; font-weight: bold; ">Cleaning</button>
  <button type="button" class="btn btn-secondary" style="border-radius: 25px; margin-right: 20px;margin-top: 7px; background-color: #C7B198; color: #483434; border-color:#C7B198; font-weight: bold; ">Cooking</button>
  <button type="button" class="btn btn-secondary" style="border-radius: 25px; margin-right: 20px;margin-top: 7px; background-color: #C7B198; color: #483434; border-color:#C7B198; font-weight: bold; ">Assembly</button>
  <button type="button" class="btn btn-secondary" style="border-radius: 25px; margin-right: 20px;margin-top: 7px; background-color: #C7B198; color: #483434; border-color:#C7B198; font-weight: bold; ">Electrical</button>
  
</div>
<div class="">
  <h4 style="text-align: center; margin-top: 5px; color: #533535;">Request History</h4>
</div>
{% for service in service_list %}
<div class="card"  style="margin-top: 10px;">
  <div class="card-body">
      <a href="{% url 'handy:service-detail' service.id %}" style="margin-left: 20px;">{{ service.title }}</a>
  </div>
</div>
{% endfor %}
{% if is_paginated %}
    <div class="pagination">
        {% if paginator.has_previous %}
            <a href="?page={{ paginator.previous_page_number }}">&laquo; {{ _('Previous') }}</a>
        {% endif %}
        {% for page in paginator.page_range %}
            {% if page == paginator.page_number %}
                <span>{{ page }}</span>
            {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
        {% if paginator.has_next %}
            <a href="?page={{ paginator.next_page_number }}">{{ _('Next') }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}


{% endblock %}
